In [31]:
import os
from pandas import read_csv, concat
import pandas as pd

# Load data
data_path = os.path.join(os.getcwd(), "train.csv")
dataset = read_csv(data_path, skipinitialspace=True)

dataset.head(5)

# We need to drop some insignificant features and map the others.
# Ticket number and fare should not contribute much to the performance of our models.
# Name feature has titles (e.g., Mr., Miss, Doctor) included.
# Gender is definitely important.
# Port of embarkation may contribute some value.
# Using port of embarkation may sound counter-intuitive; however, there may 
# be a higher survival rate for passengers who boarded in the same port.

dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

dataset = dataset.drop(['PassengerId','Ticket', 'Cabin', 'Name'], axis=1)

pd.crosstab(dataset['Title'], dataset['Sex'])

# We will replace many titles with a more common name, English equivalent,
# or reclassification
dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Other')

dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')




dataset.head(5)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Title
691         1       3  female   4.0      0      1  13.4167        C   Miss
692         1       3    male   NaN      0      0  56.4958        S     Mr
693         0       3    male  25.0      0      0   7.2250        C     Mr
694         0       1    male  60.0      0      0  26.5500        S  Other
695         0       2    male  52.0      0      0  13.5000        S     Mr
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
886         0       2    male  27.0      0      0  13.0000        S  Other
887         1       1  female  19.0      0      0  30.0000        S   Miss
888         0       3  female   NaN      1      2  23.4500        S   Miss
889         1       1    male  26.0      0      0  30.0000        C     Mr
890         0       3    male  32.0      0      0   7.7500        Q     Mr

[200 rows x 9 columns]

In [11]:



dataset = dataset.drop(['ticket', 'cabin', 'name'], axis=1)

# pd.crosstab(dataset['title'], dataset['sex'])

KeyError: "['ticket' 'cabin' 'name'] not found in axis"